.marquee-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  animation: marquee 20s linear infinite;
}

.marquee-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
